<section id="content">
    <div class="container">
        <div class="section">
            <div class="col s12">
                <form name="form" #f="ngForm" (keydown)="search($event)">
                    <div class="row margin">
                        <div class="input-field col s12">
                            <label for="search">Search name</label>
                            <div class="input-field col s12">
                                <input type="text" id="search" name="search" value="" required>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="responsive-table striped highlight" *ngIf="sponsors">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sponsor of sponsors">
                            <td>{{ sponsor.id}}</td>
                            <td>{{ sponsor.first_name}}</td>
                            <td>{{ sponsor.last_name}}</td>
                            <td>{{ sponsor.email}}</td>
                            <td>{{ sponsor.phone}}</td>
                            <td>
                                <button class="btn col 12" (click)="this.gotoDetail(sponsor.id)"><i class="material-icons">edit</i></button>
                                <button class="btn red col 12" (click)="this.delete(sponsor.id)"><i class="material-icons">delete</i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
