<app-header></app-header>
<!-- START MAIN -->
<div id="main" class="main-cn">
    <!-- START WRAPPER -->
    <div class="wrapper">

        <!-- START LEFT SIDEBAR NAV-->
        <app-navigation></app-navigation>
        <!-- END LEFT SIDEBAR NAV -->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START CONTENT -->
        <section id="content">

            <!--start container-->
            <div class="container">

                <alert></alert>
                <!-- Content Here -->

                <router-outlet></router-outlet>
                <!-- End Content -->
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END WRAPPER -->

</div>
<!-- END MAIN -->
